<footer class="footer-site">
    <section class="container global-footer-presentation">
        <hr class="separation-line">
        <h2 class="thanks">Lorem Ipsum dolor sit amet, consectetur adipiscing elit<span class="item-color">.</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
        </p>
        <div class="short-about">
            <div class="explanations">
                <span class="read-more">Pivotal Solutions Ltd.</span> was created in 2013 it started as a small web and
                mobile app development consultancy and we're still growing. While we often provide full-stack solutions
                to a number of our clients our passion is user experience and front-end development.
            </div>
            <div class="logo">
                <img src="../../assets/img/ps_logo.png" alt="Website Logo" width="300px">
            </div>
        </div>
    </section>
</footer>