<section class="contact-container go-down">
    <section class="contact-global-presentation">
        <svg class="svg-separator separator-down curveUp curveUpMainPage" xmlns="http://www.w3.org/2000/svg"
            version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
        </svg>
        <h1>Contact<span class="item-color">.</span></h1>
        <div class="border-separation"></div>
        <div class="under-border-separation"></div>
        <svg class="svg-separator separator-up curveDown curveDownMainPage" xmlns="http://www.w3.org/2000/svg"
            version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
        </svg>
        <div class="container section map-info">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3391.822377762684!2d35.21439676106566!3d31.77533015579204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502d7d55397d0d9%3A0x495861fcc6c66cdc!2sAbarbanel%20St%2011%2C%20Jerusalem!5e0!3m2!1sen!2sil!4v1616348916441!5m2!1sen!2sil" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="contact-info">
                <div class="info city">Jerusalem, Israel<span class="item-color">.</span></div>
                <div class="info street">11 Abarbanel Street, Jerusalem.</div>
                <div class="info telephone">Office Tel.: +972(0)555-555-555</div>
                <div class="info mail">Mail: contact@pivotal-solutions.co.il</div>
            </div>
        </div>

        
    </section>
</section>