<section class="home-container go-down">
    <section class="container">
        <header class="header">
            <h1>Welcome to Pivotal Solution Ltd<span class="item-color">.</span></h1>
            <div class="border-separation"></div>
            <div class="under-border-separation"></div>
            <section class="proposition">
                <article class="box-proposition">
                    <div class="title">Speed</div>
                    <div class="underline"></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        In provident ducimus suscipit consequatur non.
                    </p>
                    <div>
                        <span class="read-more">Read More</span>
                    </div>
                </article>
                <article class="box-proposition">
                    <div class="title">Elegance</div>
                    <div class="underline"></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In provident ducimus suscipit
                        consequatur non.</p>
                    <div>
                        <span class="read-more">Read More</span>
                    </div>
                </article>
                <article class="box-proposition">
                    <div class="title">Innovation</div>
                    <div class="underline"></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In provident ducimus suscipit
                        consequatur non.</p>
                    <div>
                        <span class="read-more">Read More</span>
                    </div>
                </article>
            </section>
        </header>
    </section>
    <svg class="svg-separator separator-down curveUp curveUpMainPage" xmlns="http://www.w3.org/2000/svg" version="1.1"
        width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
    </svg>
</section>

<section class="time-to-start">
    <h2>It’s time to start investing in yourself.</h2>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
    <a class="transparent-button">I'm Interested</a>
    <svg class="svg-separator separator-up curveDown curveDownMainPage" xmlns="http://www.w3.org/2000/svg" version="1.1"
        width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>
</section>

<section class="global-block-division">
    <div class="block-division-presentation">
        <figure class="article-card">
            <figcaption>
                <h2 class="article-title">
                    <a class="article-title-link">
                        Lorem Ipsum dolor sit amet, consectetur adipiscing elit<span class="item-color">.</span>
                    </a>
                </h2>
                <p class="article-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </p>
            </figcaption>
        </figure>
    </div>
    <svg class="svg-separator separator-down curveUp curveUpMainPage" xmlns="http://www.w3.org/2000/svg" version="1.1"
        width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
    </svg>
</section>

<section class="offer">
    <h2>We’re <span class="item-color">creative</span> branding <br> and corporate identity <span
            class="item-color">agency</span>.</h2>
    <div class="articles-container">
        <article>
            <i class="fa fa-pencil-square-o"></i>
            <div class="title">Branding Design</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit augue diam, accumsan.</p>
        </article>
        <article>
            <i class="fa fa-cog"></i>
            <div class="title">SEO Marketing</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit augue diam, accumsan.</p>
        </article>
        <article>
            <i class="fa fa-code"></i>
            <div class="title">Web Development</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit augue diam, accumsan.</p>
        </article>
    </div>
    <svg class="svg-separator separator-up curveDown curveDownMainPage" xmlns="http://www.w3.org/2000/svg" version="1.1"
        width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>
</section>

<section class="why go-down">
    <section class="container">
        <section class="title">
            <h2>Why contact us is the best choice for you.</h2>
        </section>
        <article class="explanation">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam explicabo perferendis facilis odio, cum
                exercitationem blanditiis inventore. Eligendi non in temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam explicabo perferendis facilis odio, cum
                exercitationem blanditiis inventore. Distinctio exercitationem placeat quidem quae amet ea fuga error,
                eligendi non in temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam explicabo perferendis facilis odio, cum
                exercitationem blanditiis inventore. </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <div class="black-button-container">
                <a class="black-button">I'm Interested &nbsp; <i class="fa fa-chevron-right"></i></a>
            </div>
        </article>
    </section>
    <svg class="svg-separator separator-up curveDown curveDownMainPage" xmlns="http://www.w3.org/2000/svg" version="1.1"
        width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>
</section>

<app-footer></app-footer>